/* Estilo para el cargador */
/* p.loader {
  display: none;
} */



p.error {
  display: none;
  color: red;
}

/* Estilo para el selector de razas */
select.breed-select {
  display: block; /* Ajusta según sea necesario */
}

/* Estilo para el div de información0 del gato */


.loader {

  width: 480px;
  height: 480px;
  border: 5px dotted #FFF;
  border-radius: 50%;
  display:none;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 